<!doctype html>
<html ng-app="phi-ratio-coloring">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title ng-bind="title">phi ratio coloring</title>

    <!-- angular.js with ui.bootstrap -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-touch.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.17/angular-ui-router.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.1.0/ui-bootstrap-tpls.min.js" rel="stylesheet"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />

    <link href="phi-ratio-coloring.css" rel="stylesheet" />

    <style>
        dt
        {
            float: left;
            clear: both;
        }
        dd
        {
            float: left;
            margin-left: 0.5em;
        }
        table.color
        {
            width: 100%;
        }
        table.color td
        {
            text-align: center;
            height: 4em;
        }
    </style>
</head>
<body id="body" ng-controller="phi-ratio-coloring" ng-init="init()">
    <div class="body">

        <div ng-show="is_loading">
            <div class="big-header">
                <div class="container">
                    <div class="jumbotron">
                        <h1>loading...</h1>
                    </div>
                </div>
            </div>
        </div>
        <div ng-hide="is_loading||active_tab">
            <div class="big-header">
                <div class="container">
						<h1><span class="glyphicon glyphicon-th"></span>{{app.name}}</h1>
						<p>{{app.description}}</p>
                        <dl>
                            <dt>π</dt>
                            <dd>{{app.pi}}</dd>
                            <dt>φ</dt>
                            <dd>{{app.phi}}</dd>
                        </dl>
                </div>
            </div>
        </div>

        <div class="container theme-showcase" role="main">

            <div class="alert alert-danger" role="alert" ng-hide="true">
                <strong>JavaScriptが無効になっています。</strong>
                このページは JavaScript に強く依存しています。
                JavaScriptを有効にしてから再読み込みしてください。
            </div>
            <uib-alert
                ng-repeat="alert in alerts"
                type="{{alert.type}}"
                close="closeAlert($index)">{{alert.msg}}
            </uib-alert>

            <div ng-hide="is_loading">
				<div class="row">
					<div class="col-md-3">
						<h4>color code</h4>
						<input type="text" class="form-control" ng-model="model.colorCode" ng-change="changeCode()" />
					</div>
                    <div class="col-md-3" style="padding-top:1.5em;">
                        ※ original hsl model ( actually this is close to the luma/chroma/hue model )
					</div>
					<div class="col-md-3">
						<h4>combination</h4>
                        <select class="form-control" ng-model="model.combination" ng-options="item for item in ['hue * lightness', 'hue * saturation', 'saturation * lightness']"></select>
					</div>
					<div class="col-md-3">
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<h4>R value ( 0 ～ 255 )</h4>
						<input type="number" class="form-control" ng-model="model.r" ng-change="changeRgb()"/>
						<h4>G value ( 0 ～ 255 )</h4>
						<input type="number" class="form-control" ng-model="model.g" ng-change="changeRgb()" />
						<h4>B value ( 0 ～ 255 )</h4>
						<input type="number" class="form-control" ng-model="model.b" ng-change="changeRgb()" />
					</div>
					<div class="col-md-3">
						<h4>H value ( -π ～ π )</h4>
						<input type="number" class="form-control" ng-model="model.h" ng-change="changeHsl()" />
						<h4>S value ( 0.0 ～ 2.0/3.0 )</h4>
						<input type="number" class="form-control" ng-model="model.s" ng-change="changeHsl()" />
						<h4>L value ( 0.0 ～ 1.0 )</h4>
						<input type="number" class="form-control" ng-model="model.l" ng-change="changeHsl()" />
					</div>
					<div class="col-md-3">
						<h4>hue resolution</h4>
						<input type="number" class="form-control" ng-model="model.hueResolution" ng-disabled="'saturation * lightness' === model.combination" />
						<h4>saturation resolution</h4>
						<input type="number" class="form-control" ng-model="model.saturationResolution" ng-disabled="'hue * lightness' === model.combination" />
						<h4>lightness resolution</h4>
						<input type="number" class="form-control" ng-model="model.lightnessResolution" ng-disabled="'hue * saturation' === model.combination" />
					</div>
					<div class="col-md-3">
						<h4>hue step</h4>
                        <select class="form-control" ng-model="model.hueStep" ng-options="item for item in ['phi ratio', 'equal share']" ng-disabled="'saturation * lightness' === model.combination" ></select>
                        <h4>saturation step</h4>
                        <select class="form-control" ng-model="model.saturationStep" ng-options="item for item in ['phi ratio', 'equal share']" ng-disabled="'hue * lightness' === model.combination" ></select>
                        <h4>lightness step</h4>
                        <select class="form-control" ng-model="model.lightnessStep" ng-options="item for item in ['phi ratio', 'equal share']" ng-disabled="'hue * saturation' === model.combination" ></select>
					</div>
                </div>
				<div class="row">
					<div class="col-md-3">
						<h4>code text color</h4>
                        <select class="form-control" ng-model="model.textColor" ng-options="item for item in ['auto', 'white', 'black', 'none']" ></select>
					</div>
					<div class="col-md-3">
                        <h4>separator color</h4>
                        <select class="form-control" ng-model="model.separatorColor" ng-options="item for item in ['white', 'black', 'none']" ></select>
					</div>
					<div class="col-md-3">
                        <h4>show style</h4>
                        <select class="form-control" ng-model="model.showStyle" ng-options="item for item in ['default', 'full screen']" ng-change="changeShowStyle()" ></select>
					</div>
				</div>

            </div>
        </div>
		<div>
			<table ng-show="'saturation * lightness' === model.combination" class="color">
				<tr ng-repeat="s in makeRange(-model.saturationResolution, model.saturationResolution)">
					<td ng-repeat="l in makeRange(-model.lightnessResolution, model.lightnessResolution)"  ng-style="calcStyle(undefined, s, l)">{{calcCode(undefined, s, l)}}</td>
				</tr>
			</table>
			<table ng-show="'hue * lightness' === model.combination" class="color">
				<tr ng-repeat="h in makeRange(0, model.hueResolution -1)">
					<td ng-repeat="l in makeRange(-model.lightnessResolution, model.lightnessResolution)"  ng-style="calcStyle(h, undefined, l)">{{calcCode(h, undefined, l)}}</td>
				</tr>
			</table>
			<table ng-show="'hue * saturation' === model.combination" class="color">
				<tr ng-repeat="h in makeRange(0, model.hueResolution -1)">
					<td ng-repeat="s in makeRange(-model.saturationResolution, model.saturationResolution)"  ng-style="calcStyle(h, s, undefined)">{{calcCode(h, s, undefined)}}</td>
				</tr>
			</table>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <span>phi ratio coloring</span><span class="separator">|</span>
            <span>&copy; 2018 <a href="https://twitter.com/wraith13">@wraith13</a></span><span class="separator">|</span>
            <span><a href="https://github.com/wraith13/wraith13.github.io/tree/master/phi-ratio-coloring/">github</a></span>
        </div>
    </footer>

    <script type="text/javascript" src="color.js"></script>
    <script type="text/javascript" src="phi-ratio-coloring.js"></script>
</body>
</html>
