/* base */
body,
table,
div,
.node text {
    font-family: "Yu Gothic UI", "Meiryo UI", "メイリオ", "MS UI Gothic", sans-serif;
}

/* body */
body {
    background-color:#EEEEEE;
}
.body {
    background-color:#FFFFFF;
    padding-bottom:24px;
    min-height:95vh;
}

/* custom design */

.big-header {
    width:100%;
	background-color:#EEEEEE;
}


/* footer */
.footer {
    color:#666666;
    padding-top:8px;
    padding-bottom:8px;
}
.footer .separator {
    margin-left: 16px;
    margin-right: 16px;
    color:#DDDDDD;
}

/* application */
.color-bar {
    display: block;
    text-align: center;
    font-size: 2vw;
    line-height: 100%;
    padding: 1vw;
    background-color: aqua;
}
